.divider {
  width: 100%;
  max-width: 980px;
  height: 7px;
  position: relative;
  margin: 0px 0px 22px auto;
  left: 0px;
  justify-self: start;
  align-self: start;
  transform-origin: center 1.5px;
}

.dividerLine {
  border-top: 3px solid var(--color-gray);
  box-sizing: border-box;
  height: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .divider {
    width: 100%;
    max-width: 90%;
    margin: 0px 0px 22px auto;
  }
}

@media (max-width: 768px) {
  .divider {
    width: 100%;
    max-width: 95%;
    margin: 0px 0px 22px auto;
  }
}
